# 🌐 Configuración de MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/egresados_db?retryWrites=true&w=majority

# 🗄️ Nombre de la base de datos
DB_NAME=egresados_db

# 🌍 Variables de entorno del servidor
NODE_ENV=development
PORT=3000

# 🔑 Configuraciones adicionales
RECAPTCHA_SECRET_KEY=tu_secret_key_aqui
JWT_SECRET=tu_jwt_secret_aqui

# 📊 SharePoint - Encuesta de Egresados
# URL de descarga directa del Excel en SharePoint
SHAREPOINT_EXCEL_URL=https://sena4-my.sharepoint.com/personal/egresadosregcauca_sena_edu_co/_layouts/15/download.aspx?UniqueId=1f1d0616-d301-4e5d-9233-07b48dcc1d28