# 🌐 Configuración de MongoDB Atlas
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/egresados_db?retryWrites=true&w=majority

# 🗄️ Nombre de la base de datos
DB_NAME=egresados_db

# 🌍 Variables de entorno del servidor
NODE_ENV=development
PORT=3000

# 🔑 Configuraciones adicionales
RECAPTCHA_SECRET_KEY=tu_secret_key_aqui
JWT_SECRET=tu_jwt_secret_aqui